// Custom css

.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#magic_g {
    height: 120px;
    box-shadow: 8px 8px 10px #441f2f;
    margin-bottom: 10px;
}